$sp: 900px; // breakpoint
$max-width-container: 1360px;

// meida query
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

// container
@mixin container {
  width: min(100%, $max-width-container);
  margin-inline: auto;
  padding: 0 40px;
}

// color
$base-text-color: #333;
$nav-text-color: #fff;
