---
interface Props {
  sectionHead: string;
}

const { sectionHead } = Astro.props;
---

<section>
  <h3>{sectionHead}</h3>
  <slot />
</section>

<style lang="scss">
  @import '../../styles/variable';

  section {
    width: 30%;

    @include sp {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  h3 {
    color: $base-text-color;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
  }
</style>
