---
import FooterContentSection from './FooterContentSection.astro';
---

<FooterContentSection sectionHead="Menu">
  <ul>
    <li><a href="#">NEW</a></li>
    <li><a href="#">CATEGORY</a></li>
    <li><a href="#">COLUMN</a></li>
    <li><a href="#">SERIES</a></li>
    <li><a href="#">QA</a></li>
  </ul>
</FooterContentSection>

<style lang="scss">
  @import '../../styles/variable';

  ul {
    border-bottom: 1px solid #777;

    li {
      padding: 12px;
      border-top: 1px solid #777;

      a {
        color: $base-text-color;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }
    }
  }
</style>
