---
import FooterContentSection from './FooterContentSection.astro';
---

<FooterContentSection sectionHead="Twitter">
  <blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
      ジブリさん (<a href="https://twitter.com/JP_GHIBLI?ref_src=twsrc%5Etfw">@JP_GHIBLI</a>)
      に書き下ろしていただいたヘッダーを、ジブリパークのオープンを記念して、みなさんにも使っていただけることになりました🤩<br
      /><br />常識の範囲内でつかって下さい。 <a href="https://t.co/HQ94KU3YAI">pic.twitter.com/HQ94KU3YAI</a>
    </p>&mdash; Twitter Japan (@TwitterJP) <a
      href="https://twitter.com/TwitterJP/status/1587301348604841987?ref_src=twsrc%5Etfw">November 1, 2022</a
    >
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</FooterContentSection>
