---
const year = new Date().getFullYear();
---

<footer>
  <p>© {year} My Work</p>
</footer>

<style lang="scss">
  footer {
    background-color: #24292e;
    padding: 10px 0;
    text-align: center;

    p {
      color: white;
      font-size: 10px;
    }
  }
</style>
