<div class="heroimage">
  <picture>
    <source media="(max-width: 600px)" srcset="/PhotographerPortfolio/hero-sp.jpg" />
    <img src="/PhotographerPortfolio/hero-pc.jpg" alt="ヒーローイメージ" />
  </picture>
</div>

<style lang="scss">
  .heroimage {
    margin-bottom: 80px;
  }

  picture {
    img {
      width: 100%;
      height: 420px;
      object-fit: cover;
    }
  }
</style>
