---
import bicycle_1 from '/RoadbikeProfile/bicycle1.jpg';
import bicycle_2 from '/RoadbikeProfile/bicycle2.jpg';
import bicycle_3 from '/RoadbikeProfile/bicycle3.jpg';

const images = [bicycle_1, bicycle_2, bicycle_3];
---

<section>
  <h2 class="section-title">Bicycle</h2>
  <ul class="image-wrapper">
    {
      images.map((img) => (
        <li class="image-container">
          <img src={img} />
          <h3 class="title">タイトルタイトル</h3>
          <p class="descrption">テキストテキストテキスト</p>
        </li>
      ))
    }
  </ul>
</section>

<style lang="scss">
  @import '../styles/variable';

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: min(100% - 4%, 960px);
    margin-inline: auto;
    padding: 0 16px;
    margin-bottom: 100px;

    @include sp {
      padding: 0 12px;
    }
  }

  .section-title {
    color: $base-text-color;
    border-bottom: 1px solid $base-text-color;
    font-size: 2rem;
  }

  .image-wrapper {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;

    @include sp {
      flex-direction: column;
      gap: 30px;
    }

    .image-container {
      list-style: none;
      text-align: center;

      .title {
        color: $base-text-color;
        font-size: 16px;
        margin: 10px 0;
      }

      .descrption {
        color: $base-text-color;
        font-size: 14px;
      }
    }
  }
</style>
