---
const year = new Date().getFullYear();
---

<footer>
  <p>© {year} Profile</p>
</footer>

<style lang="scss">
  @import '../styles/variable';

  footer {
    font-size: 0.5rem;
    padding: 10px 0;
    color: $base-text-color;
    text-align: center;
  }
</style>
