---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div class="wrapper">
    <h1>Welcome to Astro</h1>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    max-width: 960px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 32px;
      font-weight: 700;
      color: #1c1c1c;
    }
  }
</style>
